body{
    min-height: 3000px
    min-width: 2000px;
  }
  .jumbotron{
    padding-top: 2rem ;  
    background-color: ##900101;
  }
  
  #project{
    background-color: #b45151;
  }
  @media (max-width: 768px) {
    .navbar {
      background-color: #b30000;
    }
  }
  